@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
  
}

body * { 
	box-sizing: border-box; 
	outline: none; 
font-family: 'Lato', sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

.main{
  max-width: 1200px;
  margin: 0 ;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-top-right-radius: 1%;
 border-top-left-radius: 1%;
}


.card {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 19rem;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #272727 40%, rgb(75, 75, 75) 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.followMyRepo{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
} */

--------------------------------------------------------------------------




.container {
   
    width: 50%;
    min-height: 100vh;
    padding: 5vmin 5vmin 5vmin 10vmin;
    float: left;
}

.container + .container {
	padding: 5vmin 10vmin 5vmin 5vmin;
}

input {display:none;}

label {
	width: 100%;
    float: left;
    background: linear-gradient(to top right, #272727 40%, rgb(75, 75, 75) 100%);;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0.65em;
    cursor: pointer;
   border-bottom: 1%;
    overflow: hidden;
    color: #fff;
    font-size: 1.35em;
}

label:hover {
    background: rgb(27, 26, 26);
}

input:checked + label {
	background: rgb(27, 26, 26);
}

.content {
	float: left;
    width: 100%;
    background: rgb(27, 26, 26);
    color: #e6e6e6;
    overflow: hidden;
    max-height: 0vmin;
    transition: max-height 0.75s ease 0s;
    margin-top: -0.5vmin;
    margin-bottom: 1vmin;
	border-radius: 0 0 0.5vmin 0.5vmin;
    ;
}


.content > div {
	padding: 0.5em 0.75em;
  
    text-align: justify;
    font-size: 0.95em;
    color: #e6e6e6;
}

.content a {
    float: right;
   
    color: #e6e6e6;
    
   
    padding: 0.25em 0.5em;
    margin: 0.5vmin 0;
    border-radius: 0.15em;
    word-spacing: -0.25em;
}




.container + .container .content a {
    margin-top: 0;
}

input:checked + label + .content {
	max-height: 20vh;
	transition: max-height 0.75s ease 0s;
}


.container + .container input:checked + label + .content {
	max-height: 10vh;
}


label:after {
    content: "see more";
    float: right;
    font-size: 0.75em;
    background: #333;
    color: #e6e6e6;
    font-weight: bold;
    border-radius: 2.5%;
    width: 100%;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    transition: all 0.5s ease 0s;
}
	
label:hover:after {
    background: #e6e6e6;
    color: #222;
}
	
input:checked + label:after {
    background: #333;
    color: #e6e6e6;
    content: " see less";
   
    line-height: 1.25em;
    transition: all 0.5s ease 0s;
    text-align: center;
}
	
input:checked + label:hover:after {
    background: #e6e6e6;
    color: #222;
  
}


label[for=view-0]:before{

 
    font-size: 0.5em;
    background: #e6e6e6;
    padding: 0.25em 0.5em;
   
    margin: 0.4em 1em 0 0;
    float: left;
    color: #1f1f1f;
    border-radius: 0.25em;
}


